@import url("portada.css");
/*
#contenidoExpandido {
	float : left;
	width : 85%;
	text-align : center;
}

#contenidoExpandido #slide {
	text-align : center;
}

#contenidoExpandido h3 {
	color : #1589B7;
	font-family : 'Sansita one';
	font-size : 200%;
	border-style : groove;
	border-color : #1B36A2;
	width : 48%;
	position : relative;
	left : 9.2em;
}*/